# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.EascapeRoom.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\qiuyu\Desktop\codelab\Escape Room\EascapeRoom\.idea\.idea.EascapeRoom\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
